body {
  background-image: url("http://vignette4.wikia.nocookie.net/bastille/images/e/e5/Bastille_all_this_bad_blood-portada.jpg/revision/latest?cb=20140216015228");
  background-size:100%;
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#stuff {
  background-color: rgb(225,200,150);
  opacity: 0.95;
}

a {
  color: #00B7FF;
}
